.jumbotron
  %h2 Japanse vocabulary learning app
  - if user_signed_in?
    %p
      Welcome! Logged in as:
      %strong
        = current_user.email
    %p
      = link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-default")
  - else
    %p
      = link_to('Login', new_user_session_path, class: "btn btn-default")
      = link_to('Register', new_user_registration_path, class: "btn btn-success")
  %p
    = image_tag("photo.png", class: "img-thumbnail center-block img-responsive")